/* Header */
.header{
    background-color: rgb(55, 55, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    letter-spacing: 6px;
    box-shadow: 0px 0px 150px rgba(0,0,10,0.15);
    top: 0px;
}
.logo{
    width: 50px;
    height: 50px;
    margin-right: 9px;
}
.logo_container{
    display: flex;
    align-items: center;
    min-width: min-content;
}
.logo_container:hover{
    cursor: pointer;
}
.header_btn{
    width: 170px;
    height: auto;
    margin: 5px;
    margin-right: 10px;
    font-family: "Anonymous Pro";
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
    color: rgba(200,200,220);
}
.header_btn:hover{
    cursor: pointer;
    color: var(--foreground);
    letter-spacing: 1;
}

.footer{
    text-align: center;
}
.footer_content{
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    padding-bottom: 10px;
}

/* SearchBar */

.search_container{
    width: 90%;
    margin: auto;
}

.search_container select{
    background-color: transparent;
    padding: 5px;
    color: var(--foreground);
    outline: none;
    border: 1px solid var(--border);
    font-family: "Anonymous Pro";
}

.search_container select option{
    color: black;
    border: none;
    outline: none;
}

.search_del{
    font-size: '24px';
    display: 'flex';
    color: rgba(250,250,250,0.75);
    width: fit-content;
    background-color: transparent;
    outline: none;
    border: 0;
}

.fila{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
    align-items: center;
    margin-bottom: 8px
}

/*Cards*/

.card_cont{
    text-align: center;
    width: 48.5%;
    min-width: 275px;
    margin: 5px;
    padding: 5px;
    margin-bottom: 10px;
    max-height: 60vh;
}
.card_label{
    padding-bottom: 5px;
    color: var(--border);
}
.card{
    background-color: var(--card);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.card_cont:hover .card_label{
    color: var(--foreground);
}

/* Charts */

.chart{
    width: 100%;
    max-height: auto;
    aspect-ratio: 1.618;
}