.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner_container{
  background-color: var(--inner);
  padding: 1.5vw;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.card_container{
  background-color: rgba(0,0,8,0.3);
  margin: auto;
  margin-top: 20px;
  width: 98%;
  height: calc(100vh - 21vh);
  border-radius: 8px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: inset 0px 0px 5px rgba(0,0,8,0.2);
}
.card_container:not(:has(> div:nth-child(3))) > div {
  flex-grow: 1;
}
.card_container::-webkit-scrollbar{
  -webkit-appearance: none;
  width:16px;
}
.card_container::-webkit-scrollbar-corner{
  appearance: none;
}

.card_container::-webkit-scrollbar-thumb{
  background-color: var(--border);
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: padding-box;
}

.link{
  text-decoration: none;
  color: var(--foreground);
}
.link:hover{
  text-decoration: underline;
}
