.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner_container{
  margin-top: 70px;
  background-color: var(--inner-background);
  padding: 1.4vw;
  padding-bottom: 0;
  margin-bottom: 2px;
}

.card_container{
  border: 1px solid rgba(200,200,200,0.5);
  background-color: rgba(200,200,200,0.03);
  margin: auto;
  margin-top: 20px;
  width: 99%;
  height: calc(100vh - 26.5vh); /* Pendiente */
}

.link{
  text-decoration: none;
  color: var(--foreground);
}